.book-cover-cart {
    width: 50px; /* Маленький размер */
    height: 70px; /* Сохраняем пропорции */
    object-fit: cover; /* Обрезаем изображение, чтобы оно помещалось */
    margin-right: 10px; /* Отступ справа */
} 